a:link, a:visited {
    background-color: #a59998;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color: rgb(180, 166, 166);
}